html{
    scroll-behavior: smooth;
    
}

body{
    background-image: url("image.png");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Optional: Fixed background (doesn't scroll with content) */
  background-attachment: fixed;
}

.m-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation-link{
    border: 2px solid transparent;
}

.navigation-link:hover{
    text-decoration: none;
    border-bottom: 2px solid blueviolet;
    transition: 0.5s ease;
}